@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    font-family: "Ubuntu", sans-serif;
}

nav ul {
    align-items: center;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(1, 255, 26);
    text-decoration: underline;
}

.navbar {
    background-color: black;
}

nav ul li {
    padding: 0 12px;
    margin: 0 5px;
}

.brand img {
    width: 60px;
    padding: 0 9px;
    cursor: pointer;
}

.brand {
    display: flex;
    text-decoration: none;
}

.btn-outline-success {
    color: #ffffff;
    border-color: #ffffff;
    border: 3px solid #ffffff;
}

.btn-outline-success:hover {
    background-color: #00c853;
    color: white;
}

/* #navbarScroll{
    background-color: black;
} */

/* User Drop Down Menu */

.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
    left: -2rem;
    background-color: black;
    border: 3px solid rgb(255, 255, 255);
}

.profile-img img {
    width: 50px;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(1, 255, 26);
    text-decoration: underline;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-item {
    color: white;
}

/* Container */

.headingSong {
    text-decoration: none;
}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: "Varela Round", sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    /* For Background Image */
    background-size: cover;
    background-image: url("bg/bg_8.jpg");
}

.songList{
    width: 100%;
}
.titleSong {
    color: #ffffff;
    font-size: 2rem;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.09px;
}

/* For Playing Vedio */
#myVideo {
    width: fit-content;
    z-index: -1;
    position: fixed;
    scale: 3;
    bottom: 5%;
}

.songItemContainer {
    margin-top: 34px;
}

.container{
    width: 90%;
}
.songItem {
    height: 60px;
    display: flex;
    background-color: white;
    width: 45%;
    color: black;
    margin: 12px 0;
    font-size: medium;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem:hover {
    background: linear-gradient(to top, #b7daff, #16ffc5, hsl(126, 93%, 66%));
}

.songItem img {
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
    transition: 1s;
}

.songItemPlay:hover {
    color: blue;
}

.timestamp {
    margin: 0 23px;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.timestamp i {
    cursor: pointer;
}

/* Bottom Section */

.bottom {
    position: sticky;
    height: 30px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.bottomContainer {
    position: sticky;
    width: 100%;
    justify-content: space-around;
    height: 70px;
    padding: 10px;
    background-color: black;
    border: none;
    color: white;
    display: flex;
    align-items: center;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

/* #masterSongName{
    display: flex;
    bottom: 36px;
    position: relative;
} */

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

#volumeControl {
    #volumeControl {
        position: absolute;
        right: 200px;
        bottom: 40px;
    }
}

.fa-volume-up {
    font-size: 20px;
    color: #ddd;
    margin-right: 10px;
    cursor: pointer;
}

.fa-volume-down {
    font-size: 20px;
    color: #ddd;
    margin-right: 5px;
    cursor: pointer;
}

.rangeVolume {
    width: 8rem;
}

input[type="range"] {
    color: #04ff19;
}

/* Footer */

.text-footer{
    width: 100%;
    height: 30px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
}

/* For minimize screen background */
@media only screen and (max-width: 700px) {
    body {
        background-size: cover;
    }

    .titleSong{
        text-align: center;
        font-size: xx-large;
    }
    .songItem{
        width: 100%;
    }

    .songItemContainer {
        margin-top: 34px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bottomContainer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 10rem;
        border: 20px solid black;
        gap: 10px;
    }

    .masterSongName{
        text-align: center;
    }

    .songInfo img{
        display: flex;
        flex-direction: column-reverse;
    }

    span img{
        margin: auto;
    }

    .bottom{
        height: 60px;
    }

    .songInfo{
        display: flex;
        flex-direction: column-reverse;
    }
    .text-footer{
        font-size: medium;
        text-align: center;
        height: 80px;
        border: 20px solid black;
      }

}

@media screen and (max-width: 280px) {
  .songItem{
    flex-direction: column;
    height: 120px;
    border-radius: 20px;
    width: 100%;
    padding: 4px;
  }
  .text-footer{
    font-size: small;
    text-align: center;
    height: 40px;
    border: 20px solid black;
  }
}
